[submodule "deps/electionguard-rust"]
	path = deps/electionguard-rust
	url = ../electionguard-rust
[submodule "deps/concordium-rust-smart-contracts"]
	path = deps/concordium-rust-smart-contracts
	url = ../concordium-rust-smart-contracts
