.account-option {
    width: 100%;
    background-color: $white;
    text-align: center;
    padding: 0;

    input {
        opacity: 0;
        position: absolute;
        left: -9999px;
    }

    label {
        width: 100%;
        height: 100%;
        border: 2px solid $gray-300;
        border-radius: 10px;
        padding: 10px;
        cursor: pointer;
    }

    input:checked + label {
        border-color: $primary;
    }
}

.select-account {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    align-items: center;
}
