html,
body,
#root {
    height: 100%;
}

#root {
    display: flex;
    flex-direction: column;
}

wcm-modal {
    position: relative;
    z-index: 10000; // ensure that it's above bootstrap offcanvas
}
