.file-input {
    font-size: 16px;

    &,
    &__wrapper {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        border-radius: 10px;
    }

    &__label {
        margin-bottom: 5px;
    }

    &__disabled {
        cursor: default;
    }

    &__wrapper {
        flex: 1;
        height: 100%;
        width: 100%;
        padding: 20px 30px;
        position: relative;
        border: 2px dashed $gray-300;

        .file-input--hovering & {
            border-color: $primary;
        }

        .file-input--invalid & {
            border-color: $danger;
        }
    }

    &__file-name {
        word-break: break-all;
        text-align: center;
    }

    &__empty {
        color: $gray-300;
    }

    &__input {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        opacity: 0;
        width: 100%;
        cursor: pointer;

        .file-input--disabled & {
            cursor: default;
        }
    }

    &__button {
        pointer-events: none;

        * + & {
            margin-top: 30px;
        }
    }

    &__error {
        color: $danger;
        font-size: 14;
        display: block;
        margin-top: 5px;
    }
}
