.candidate {
    flex-direction: row;
    overflow: hidden;
    position: relative;

    &[aria-disabled='true'] {
        cursor: default;
    }

    &__checkmark {
        position: absolute;
        right: 15px;
        top: 50%;
        transform: translateY(-50%);
        width: 40px;
        fill: $gray-300;
        transition: fill 0.1s;

        .candidate:hover:not(.candidate--selected) & {
            fill: $gray-400;
        }

        .candidate--selected & {
            fill: $success;
        }
    }

    &--selected {
        border-color: $green;
    }

    img {
        width: 105px;
        height: 105px;
        object-fit: cover;
        object-position: center;
    }

    &__score {
        font-size: 11px;
    }
}
